.card {
    width: 18rem;
}

.out-of-stock {
    text-decoration: line-through;
    color: lightgray;
}

.cursor {
    cursor: pointer;
}

.size {
    color: darkgray;
    /* background-color: darkgray; */
    /* border-radius: 10rem; */
    /* padding: .2rem */
}

.custom-select {
    display: inline-block;
    width: auto;
}