.card {
    max-width: 35rem;
}

.card-title {
  text-transform: capitalize;
}

.invalid {
  color: red;
}

.out-of-stock {
    text-decoration: line-through;
    color: lightgray;
}

.cursor {
    cursor: pointer;
}

.size {
    color: darkgray;
}

.custom-select {
    display: inline-block;
    width: auto;
}

.badge-m-right {
    margin-right: .5rem;
}

.checkout-steps {
    margin: 1rem 1rem 1rem 0;
}

.hide {
    display: none;
}
